<style>
    .left-inner-addon {
        position: relative;
    }
    .left-inner-addon input {
        padding-left: 30px;    
    }
    .left-inner-addon i {
        position: absolute;
        padding: 10px 12px;
        pointer-events: none;
    }
</style>
<?php
$title = 'Add Answer';
$this->headTitle($title);
?>
<h1 style="text-align: center"><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form = $this->form;
$form->prepare();
$form->setAttribute('action', $this->url(NULL, array('controller' => 'Answer', 'action' => 'add')));
$form->setAttribute('method', 'post');
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('discourse_id'));
?>
<table class="table table-bordered table-striped" style="width:80%;">
    <tr>
        <td><?php echo $this->formLabel($form->get('description')); ?></td>
        <td><?php echo $this->formElement($form->get('description')); ?></td>
    </tr>
    <tr>

        <td colspan="2"><?php echo $this->formElement($form->get('submit')); ?></div></td>
    </tr>

</table>
<?php echo $this->form()->closeTag();
?>