<?php
$title = 'Users Management';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Id</th>
        <th>User Id</th>
        <th>Description</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($answers as $answer) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($answer->id); ?></td>
            <td><?php echo $this->escapeHtml($answer->user_id); ?></td>
            <td><?php echo $this->escapeHtml($answer->description); ?></td>
            <td>
                <a class="btn btn-info" href="<?php echo $this->url('answer', array('action' => 'edit', 'id' => $answer->id));
                ?>"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</a>
            </td>
        </tr>
    <?php endforeach; ?>
    <tr>
        <td colspan="5">  <a class="btn btn-success pull-right" href="<?php echo $this->url('answer', array('action' => 'add')); ?>"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                Add new Answer&nbsp;<span class="glyphicon glyphicon-user"></span></a></td>
    </tr>
</table>
