<?php
$title = 'Discourse';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <?php if($this->zfcUserIdentity()): ?>
            <th>&nbsp;</th>
        <?php endif; ?>
    </tr>
    <?php foreach ($questions as $question) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($question->title); ?></td>
            <td><?php echo $this->escapeHtml($question->description); ?></td>
                <td>
                        <a class="btn btn-info" href="<?php echo $this->url('discourse', array('action' => 'view', 'id' => $question->discourse_id));
                    ?>">View</a>
                </td>
        </tr>
    <?php endforeach; ?>
</table>

<?php if($this->zfcUserIdentity()): ?>
<?php endif?>