<?php
/*echo '<pre>';
print_r($question);
echo '<br/>';
echo '<pre>';
print_r($answers);
echo '<br/>';*/
?>
<div class="row" style="margin-top: 80px;">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="hpanel stats">
        <div class="panel-body list">
            <div class="stats-title pull-left">
                <h3><?= $question->title ?></h3>
            </div>
            <div class="stats-icon pull-right">
                <i class="pe-7s-science fa-4x"></i>
            </div>
            <div class="m-t-xl">
                <span class="font-bold no-margins">
                    
                </span>
                <br>
                    <?= $question->description ?>
            </div>
            <div class="row m-t-md">
                <div class="col-lg-6">
                    <h3 class="no-margins font-extra-bold text-success">300,102</h3>

                    <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                </div>
                <div class="col-lg-6">
                    <h3 class="no-margins font-extra-bold text-success">280,200</h3>

                    <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            This is standard panel footer
        </div>
    </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="panel-footer bg-info"></div>
    
<?php if($this->zfcUserIdentity()): ?>
<td colspan="5">  <a class="btn btn-success pull-right" href="<?php echo $this->url('answer', array('action' => 'add', 'id' => $id)); ?>"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                Add new Answer&nbsp;<span class="glyphicon glyphicon-user"></span></a></td>
<?php endif?>
<?php if(count($answers) > 0): ?>
<?php foreach($answers as $answer): ?>
    <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="hpanel stats">
        <div class="panel-body list">
            <div class="stats-icon pull-right">
                <i class="pe-7s-science fa-4x"></i>
            </div>
            <div class="m-t-xl">
                <span class="font-bold no-margins">
                    
                </span>
                <br>
                    <?= $answer->description ?>
            </div>
            <div class="row m-t-md">
                <div class="col-lg-6">
                    <h3 class="no-margins font-extra-bold text-success">300,102</h3>

                    <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                </div>
                <div class="col-lg-6">
                    <h3 class="no-margins font-extra-bold text-success">280,200</h3>

                    <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            This is standard panel footer
        </div>
    </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<?php endforeach; ?>
<?php endif; ?>