<?php
$title = 'Question Management';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>User Id</th>
        <th>Title</th>
        <th>Description</th>
        <?php if($this->zfcUserIdentity()): ?>
            <th>&nbsp;</th>
        <?php endif; ?>
    </tr>
    <?php foreach ($questions as $question) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($question->user_id); ?></td>
            <td><?php echo $this->escapeHtml($question->title); ?></td>
            <td><?php echo $this->escapeHtml($question->description); ?></td>
            <?php if($this->zfcUserIdentity()): ?>
                <td>
                        <a class="btn btn-info" href="<?php echo $this->url('question', array('action' => 'edit', 'id' => $question->id));
                    ?>"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</a>
                        <a class="btn btn-danger" href="<?php echo $this->url('question', array('action' => 'delete', 'id' => $question->id));
        ?>"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</a>
                </td>
            <?php endif; ?>
        </tr>
    <?php endforeach; ?>
    <?php if($this->zfcUserIdentity()): ?>
        <tr>
            <td colspan="5">  <a class="btn btn-success pull-right" href="<?php echo $this->url('question', array('action' => 'add')); ?>"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                    Add new Question&nbsp;<span class="glyphicon glyphicon-user"></span></a></td>
        </tr>
    <?php endif?>
</table>

<?php if($this->zfcUserIdentity()): ?>
<?php endif?>